{% extends "base.html" %}
{% block title %}Budgecument - Yeni Hesap İşlemi {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container col-md-6 bg-light shadow-md p-3 form-layout">
  <h3>{% if object %}İşlemi Düzenle{% else %}Yeni İşlem{% endif %}</h3>
  <form method="post" autocomplete="off">
    {% csrf_token %}

    <!-- Date -->
    <div class="form-group">
      {{ form.date.label_tag }}
      {{ form.date }}
    </div>

    <!-- Transaction Type -->
    <div class="form-group">
      {{ form.transaction_type.label_tag }}
      {{ form.transaction_type }}
    </div>

    <!-- Source Account -->
    <div class="form-group">
      {{ form.source_account.label_tag }}
      {{ form.source_account }}
    </div>

    <!-- Destination Account (Initially hidden) -->
    <div id="destination_account_field" style="display: none;">
      {{ form.destination_account.label_tag }}
      <select id="id_destination_account">
        {% for account in form.destination_account.field.queryset %}
          <option value="{{ account.id }}" data-currency="{{ account.currency }}" {% if account.id == form.destination_account.value %}selected{% endif %}>
            {{ account }} - {{ account.currency }}
          </option>
        {% endfor %}
      </select>
    </div>
    <br>

    <!-- Description -->
    <div class="form-group">
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>

    <!-- Amount -->
    <div class="form-group">
      {{ form.amount.label_tag }}
      {{ form.amount }}
    </div>

    <button type="submit" class="btn btn-success w-40 btn-block p-2">Kaydet &nbsp;
      <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    <a href="{% url 'transaction_list' %}" class="btn btn-secondary w-40 btn-block p-2">Geri Dön &nbsp;
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
  </form>
</div>

{% endblock %}
