{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Budgecument - Hesap Detayı{% endblock %}

{% block content %}
<div class="container">
    <h4 class="p-2 text-center">{{ bank_account.bank.name }} {{ bank_account.name }} Hesabı ({{ bank_account.currency.code }}) - Detaylar</h4>
        <div class="d-inline"><strong>Mevcut Bakiye:</strong></div>
        <div class="d-inline {% if object.current_balance < 0 %}text-danger{% endif %}"> {{ object.current_balance }} {{ object.currency.symbol }}</div>
    <br>
    <br>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="p-2">İşlemler</h4>
    <a href="{% url 'transaction_create' %}" class="btn btn-outline-success btn-sm">Ekle &nbsp;
    <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  </div>
    <hr>

  <table class="table table-hover table-bordered">
      <thead class="table-light text-center">
          <tr>
              <th scope="col" class="col-sm-1" >#</th>
              <th scope="col" class="col-sm-1">Tarih</th>
              <th scope="col" class="col-sm-1" >İşlem Türü</th>
              <th scope="col">Kaynak Hesap</th>
              <th scope="col">Hedef Hesap</th>
              <th scope="col">Açıklama</th>
              <th scope="col">Tutar</th>
              <th scope="col" class="col-sm-2">Detaylar</th>
          </tr>
      </thead>
      <tbody>
      {% if transactions %}
          {% for transaction in transactions %}
          <tr class="text-center">
              <td>{{ forloop.counter }}</td>
              <td>{{ transaction.date |date:"d/m/Y" }}</td>
              <td>{{ transaction.get_transaction_type_display }}</td>
              <td>{{ transaction.source_account }}</td>
              <td>{{ transaction.destination_account|default:"-" }}</td>
              <td>{{ transaction.description }}</td>
              <td class="{% if transaction.get_transaction_type_display == 'Giden' %}text-danger{% endif %}">{% if transaction.get_transaction_type_display == "Giden" %}-{{ transaction.amount }}{{ transaction.source_account.currency.symbol }}{% else %}{{ transaction.amount }}{{ transaction.source_account.currency.symbol }}{% endif %}</td>
              <td>
                  <a class="btn btn-primary btn-sm" href="{% url 'transaction_detail' transaction_uid=transaction.uid %}">
                      <i class="fa fa-eye" aria-hidden="true"></i></a>
                  <a class="btn btn-success btn-sm" href="{% url 'transaction_update' transaction_uid=transaction.uid %}">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="btn btn-danger btn-sm" href="{% url 'transaction_delete' transaction_uid=transaction.uid %}">
                      <i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
          </tr>
          {% endfor %}
      {% else %}
            <tr>
                <td colspan="8">İşlem bulunamadı.</td>
            </tr>
        {% endif %}
      </tbody>
  </table>

  <a href="{% url 'bank_account_list' %}" class="btn btn-secondary w-40 btn-block p-2">Geri Dön &nbsp;
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
</div>
{% endblock %}
