{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Budgecument - Banka Hesapları{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="p-2">Banka Hesapları</h4>
        <a href="{% url 'bank_account_create' %}" class="btn btn-outline-success btn-sm">Ekle &nbsp;
        <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>
    <br>

    <h5 class="p-2">Aktif Banka Hesapları</h5>
    {% if grouped_active_accounts %}
        {% for bank, accounts in grouped_active_accounts %}
            <div class="card mb-3" style="background-color: {{ bank.color }}">
                <div class="card-header">
                    {{ bank.name }}
                </div>
                <ul class="list-group list-group-flush">
                    {% for account in accounts %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-1 text-center">{{ forloop.counter }}</div>
                                    <div class="col-sm-5">{{ account.name }} ({{ account.currency.code }})</div>
                                    <div class="col-sm-3 text-center {% if account.current_balance < 0 %}text-danger{% endif %}">
                                        {{ account.current_balance }} {{ account.currency.symbol }}
                                    </div>
                                    <div class="col-sm-3 text-center">

                                        <a class="btn btn-primary btn-sm" href="{% url 'bank_account_detail' uid=account.uid %}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>

                                        <a class="btn btn-success btn-sm" href="{% url 'bank_account_edit' uid=account.uid %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>

                                        <a href="#"
                                           class="btn btn-danger btn-sm {% if account.current_balance != 0 or account.has_transactions %}disabled{% endif %}"
                                           tabindex="-1"
                                           onclick="showModal('{{ account.uid }}',
                                                              'Bu banka hesabını silmek istediğinize emin misiniz?',
                                                              '{% url 'bank_account_delete' uid=account.uid %}')">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>
                            </li>

                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Aktif banka hesabı bulunamadı.</p>
    {% endif %}

<br>
<hr> <!-- Çizgi -->
<br>
    <h5 class="p-2">Pasif Banka Hesapları</h5>     
    {% if grouped_inactive_accounts %}
        {% for bank, accounts in grouped_inactive_accounts %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ bank.name }}
                </div>
                <ul class="list-group list-group-flush">
                    {% for account in accounts %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-1 text-center">{{ forloop.counter }}</div>
                                    <div class="col-sm-5">{{ account.name }} ({{ account.currency.code }})</div>
                                    <div class="col-sm-3 text-center {% if account.current_balance < 0 %}text-danger{% endif %}">
                                        {{ account.current_balance }} {{ account.currency.symbol }}
                                    </div>
                                    <div class="col-sm-3 text-center">

                                        <a class="btn btn-primary btn-sm" href="{% url 'bank_account_detail' uid=account.uid %}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>

                                        <a class="btn btn-success btn-sm" href="{% url 'bank_account_edit' uid=account.uid %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>

                                        <a href="#"
                                           class="btn btn-danger btn-sm {% if account.current_balance != 0 or account.has_transactions %}disabled{% endif %}"
                                           tabindex="-1"
                                           onclick="showModal('{{ account.uid }}',
                                                              'Bu banka hesabını silmek istediğinize emin misiniz?',
                                                              '{% url 'bank_account_delete' uid=account.uid %}')">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>
                            </li>

                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Pasif banka hesabı bulunamadı.</p>
    {% endif %}

</div>
{% endblock %}
