{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Budgecument - Pasif Banka Hesapları{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="p-2">Pasif Banka Hesapları</h4>
    </div>
    <br>

    {% if inactive_bank_accounts %}
        <div class="card mb-3">
            <div class="card-header">
                Pasif Hesaplar
            </div>
            <ul class="list-group list-group-flush">
                {% for account in inactive_bank_accounts %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-1 text-center">{{ forloop.counter }}</div>
                            <div class="col-sm-5">{{ account.bank }} - {{ account.name }} ({{ account.currency.code}})</div>
                            <div class="col-sm-3 text-center {% if account.current_balance < 0 %}text-danger{% endif %}">
                                {{ account.current_balance }} {{ account.currency.symbol }}
                            </div>
                            <div class="col-sm-3 text-center">
                                <a class="btn btn-primary btn-sm" href="{% url 'bank_account_detail' uid=account.uid %}">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-success btn-sm" href="{% url 'bank_account_edit' uid=account.uid %}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Aktif olmayan banka hesabı bulunamadı.</p>
    {% endif %}
</div>
{% endblock %}
